In [2]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [4]:
#1. Create a Series with the following data: data = [5, 10, 15, np.nan, 25, 30, np.nan]
data = Series([5, 10, 15, np.nan, 25, 30, np.nan])
data

0     5.0
1    10.0
2    15.0
3     NaN
4    25.0
5    30.0
6     NaN
dtype: float64

In [48]:
#2. Calculate the sum of the Series along the rows.
sum1 = data.loc[[0,1,2,3,4,5,6]]
sum1

0     5.0
1    10.0
2    15.0
3     NaN
4    25.0
5    30.0
6     NaN
dtype: float64

In [10]:
#3. Calculate the sum of the Series along the columns
data.sum()

85.0

In [7]:
#4. Calculate the minimum value in the Series
data.min()

5.0

In [17]:
#5. Find the index label of the minimum value in the Series
data.idxmin()

0

In [18]:
#6. Calculate the cumulative sum of the Series.
data.cumsum()

0     5.0
1    15.0
2    30.0
3     NaN
4    55.0
5    85.0
6     NaN
dtype: float64

In [19]:
#7. Calculate the descriptive statistics of the Series using the describe method.
data.describe()

count     5.000000
mean     17.000000
std      10.368221
min       5.000000
25%      10.000000
50%      15.000000
75%      25.000000
max      30.000000
dtype: float64

In [20]:
#8. Find the unique values in the Series.
data.unique()

array([ 5., 10., 15., nan, 25., 30.])

In [21]:
#9. Calculate the count of each unique value in the Series using the value_counts method.
data.value_counts()

5.0     1
10.0    1
15.0    1
25.0    1
30.0    1
dtype: int64

In [24]:
#10. Create a DataFrame with the following data:data={'A':[1,2,np.nan,4,5],'B': [10, 20, 30,np.nan, 50], 'C': [100, np.nan, 300, 400, 500]}
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [10, 20, 30,np.nan, 50],
    'C': [100, np.nan, 300, 400, 500]})
df

     A     B      C
0  1.0  10.0  100.0
1  2.0  20.0    NaN
2  NaN  30.0  300.0
3  4.0   NaN  400.0
4  5.0  50.0  500.0

In [25]:
#11. Calculate the sum of the DataFrame along the rows
df.sum()

A      12.0
B     110.0
C    1300.0
dtype: float64

In [26]:
#12. Calculate the sum of the DataFrame along the columns.
df.sum(axis=1)

0    111.0
1     22.0
2    330.0
3    404.0
4    555.0
dtype: float64

In [27]:
#13. Calculate the minimum value in the DataFrame.
df.min()

A      1.0
B     10.0
C    100.0
dtype: float64

In [28]:
#14. Find the index label and column name of the minimum value in the DataFrame.
df.idxmin()

A    0
B    0
C    0
dtype: int64

In [29]:
#15. Calculate the cumulative sum of the DataFrame.
df.cumsum()

      A      B       C
0   1.0   10.0   100.0
1   3.0   30.0     NaN
2   NaN   60.0   400.0
3   7.0    NaN   800.0
4  12.0  110.0  1300.0

In [30]:
#16. Calculate the descriptive statistics of the DataFrame using the describe method
df.describe()

              A          B           C
count  4.000000   4.000000    4.000000
mean   3.000000  27.500000  325.000000
std    1.825742  17.078251  170.782513
min    1.000000  10.000000  100.000000
25%    1.750000  17.500000  250.000000
50%    3.000000  25.000000  350.000000
75%    4.250000  35.000000  425.000000
max    5.000000  50.000000  500.000000

In [39]:
#17. Find the unique values in column 'A' of the DataFrame.
pd.unique(df['A'])

array([ 1.,  2., nan,  4.,  5.])

In [46]:
#18. Calculate the count of each unique value in column 'A' of the DataFrame using the value_counts method.
n =pd.unique(df['A'])
n

array([ 1.,  2., nan,  4.,  5.])

In [ ]:
#19. Sort the DataFrame by column 'B' in ascending order and then by column 'A' in descendingorder.

In [47]:
#20. Create a new column 'D' in the DataFrame which is the cumulative sum of column 'C