In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
#1. Create two data frames df1 and df2 as follows:
#df1 = pd.DataFrame({'A': [1, 2, 3, 4], 'B': ['a', 'b', 'c', 'd']})
df1 = pd.DataFrame({
    'A': [1, 2, 3, 4,],
    'B': ['a','b','c','d']})
df1

   A  B
0  1  a
1  2  b
2  3  c
3  4  d

In [8]:
#1. df2 = pd.DataFrame({'A': [1, 2, 5, 6], 'C': [10, 20, 30, 40]})
df2 = pd.DataFrame({
    'A': [1, 2, 5, 6],
    'B': [10,20,30,40]})
df2

   A   B
0  1  10
1  2  20
2  5  30
3  6  40

In [9]:
#2. Merge df1 and df2 using the default merge function to get a new data frame containing all the rows from both data frames where the values of column 'A' match.
pd.merge(df1, df2,on='A')

   A B_x  B_y
0  1   a   10
1  2   b   20

In [10]:
#3. Merge df1 and df2 using the merge function with the argument how='inner' to get a new data frame containing only the rows where the values of column 'A' match in both data frames.
df1.merge(df2, how='inner', on='A')

   A B_x  B_y
0  1   a   10
1  2   b   20

In [14]:
#4. Merge df1 and df2 using the merge function with the argument how='outer' to get a new dataframe containing all the rows from both data frames and filling the missing values with NaN.
df1.merge(df2, how='outer', on='A')

   A  B_x   B_y
0  1    a  10.0
1  2    b  20.0
2  3    c   NaN
3  4    d   NaN
4  5  NaN  30.0
5  6  NaN  40.0

In [12]:
#5. Merge df1 and df2 using the merge function with the argument how='left' to get a new data frame containing all the rows from df1 and the matching rows from df2.
df1.merge(df2, how='left',on='A')

   A B_x   B_y
0  1   a  10.0
1  2   b  20.0
2  3   c   NaN
3  4   d   NaN

In [15]:
#6. Merge df1 and df2 using the merge function with the argument how='right' to get a new data frame containing all the rows from df2 and the matching rows from df1.
df1.merge(df2, how='right',on='A')

   A  B_x  B_y
0  1    a   10
1  2    b   20
2  5  NaN   30
3  6  NaN   40