In [44]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [4]:
obj=Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
ww2_cas=pd.Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [14]:
ww2_cas['USA']

400000

In [27]:
ww2_cas.sort_values(ascending=False)

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [30]:
ww2_cas.rank(ascending=True, pct=False)

USSR       5.0
Germany    4.0
China      3.0
Japan      2.0
USA        1.0
dtype: float64

In [16]:
'USA' in ww2_cas

True

In [29]:
ww2_dict=ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [37]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [41]:
obj2=pd.Series(ww2_dict,index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [26]:
#Lec 06 - Series
#1 Create a Series using the following data: data = [10, 20, 30, 40, 50]
data=Series=([10, 20, 30, 40, 50])
data

[10, 20, 30, 40, 50]

In [45]:
#2 Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']
data2=Series([10, 20, 30, 40, 50], index=['a','b','c','d','e'])
data2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [47]:
#3 Use index values to select the values of the Series for the labels 'b' and 'e'.
data2['b']

20

In [48]:
data2['e']

50

In [70]:
#4 Check if the Series contains the value 20 using a boolean array.
(data2==20).any()

True

In [72]:
#5 Check if the Series contains the values 15 and 20 using a boolean array
(data2==20 and data2==30)in data2

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [56]:
#6 Add the value 5 to each element of the Series using array operations.
data2+5

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [57]:
#7 Convert the Series into a Python dictionary and check its values
data2_dict=data2.to_dict()
data2_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [58]:
#8 Pass a dictionary to the Series constructor and assign the following keys and values:
#{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
data2_dict.update({'f':60})
data2_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [59]:
#9 Check if any values in the Series are null or not null using isnull() and notnull() methods.
pd.isnull(data2)

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [60]:
pd.notnull(data2)

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [ ]:
#10 Create another Series using the following data: data2 = [20, 30, 40, 50, 60]